/* 
    Document   : admin
    Created on : 20 sept. 2012, 23:45:59
    Author     : tam
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

